{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 150,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn"],
  "tabWidth": 2,
  "overrides": [
    {
      "files": "**/*.yml",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
